body{
    background-color: rgb(29, 29, 29);
}
table{
    color: wheat;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px;
    height: 500px;
    padding-left: 90px;
    border-spacing: 16px;
    empty-cells: show;
    white-space: nowrap;
    table-layout: fixed;
}
td{
        border-style: solid;
        border-width: 0.01px;
        
        overflow: hidden;
        text-align: center;
        border-radius: 10%;
        table-layout: fixed;
        border-spacing: 50px;
        width: 160px;
        height: 160px;
}
td:hover{
    background-color: gray;
}
td::after{
    content: "";
}

